parameters:
  locale: 'pl'
  app.notifications.from: 'no-reply@biblioteka.local'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DataFixtures/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\DataFixtures\:
    resource: '../src/DataFixtures/'
    tags: ['doctrine.fixture.orm']

  App\Service\Notification\NotificationSender:
    arguments:
      $fromAddress: '%app.notifications.from%'

  App\MessageHandler\ReservationQueuedNotificationHandler:
    arguments:
      $projectDir: '%kernel.project_dir%'
    tags: ['messenger.message_handler']

  App\EventSubscriber\ApiAuthSubscriber:
    arguments:
      $users: '@App\Repository\UserRepository'
    tags: ['kernel.event_subscriber']
  
  # Named Rate Limiters
  App\Controller\AuthController:
    arguments:
      $loginAttemptsLimiter: '@limiter.login_attempts'
  
  App\Controller\RegistrationController:
    arguments:
      $registrationAttemptsLimiter: '@limiter.registration_attempts'
