parameters:
  locale: 'pl'
  app.notifications.from: 'no-reply@biblioteka.local'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DataFixtures/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  # Service aliases
  App\Service\SecurityService: '@App\Service\Auth\SecurityService'
  App\Service\NotificationService: '@App\Service\User\NotificationService'
  App\Service\BookService: '@App\Service\Book\BookService'

  # Force handler namespaces onto dedicated buses
  App\Application\Handler\Command\:
    resource: '../src/Application/Handler/Command'
    tags:
      - { name: messenger.message_handler, bus: command.bus }

  App\Application\Handler\Query\:
    resource: '../src/Application/Handler/Query'
    tags:
      - { name: messenger.message_handler, bus: query.bus }

  # Legacy QueryHandler namespace - ensure it also runs on the query bus
  App\Application\QueryHandler\:
    resource: '../src/Application/QueryHandler'
    tags:
      - { name: messenger.message_handler, bus: query.bus }

  App\DataFixtures\:
    resource: '../src/DataFixtures/'
    tags: ['doctrine.fixture.orm']

  App\Service\Notification\NotificationSender:
    arguments:
      $fromAddress: '%app.notifications.from%'

  App\MessageHandler\ReservationQueuedNotificationHandler:
    arguments:
      $projectDir: '%kernel.project_dir%'
    tags: ['messenger.message_handler']

  App\EventSubscriber\ApiAuthSubscriber:
    arguments:
      $users: '@App\Repository\UserRepository'
      $tokenStorage: '@security.token_storage'
    tags: ['kernel.event_subscriber']
  
  # Named Rate Limiters
  App\Controller\Auth\AuthController:
    arguments:
      $loginAttemptsLimiter: '@limiter.login_attempts'
  
  App\Controller\Auth\RegistrationController:
    arguments:
      $registrationAttemptsLimiter: '@limiter.registration_attempts'
  
  # CQRS Buses - Loans
  App\Controller\Loans\LoanController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'
  
  App\Controller\Loans\ReservationController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\Loans\FineController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  # CQRS Buses - Books
  App\Controller\Books\BookController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  # CQRS Buses - User
  App\Controller\User\UserManagementController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\AdminUserController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\User\AccountController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\User\FavoriteController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\Books\ReviewController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\DashboardController:
    arguments:
      $security: '@App\Service\SecurityService'
      $queryBus: '@query.bus'

  App\Controller\ReportController:
    arguments:
      $queryBus: '@query.bus'

  App\Controller\AuditLogController:
    arguments:
      $queryBus: '@query.bus'

  App\Controller\Catalog\CatalogAdminController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\Books\BookInventoryController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\Books\BookAssetController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\Books\WeedingController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\Catalog\AnnouncementController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AcquisitionBudgetController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AcquisitionOrderController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AcquisitionSupplierController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\Books\CollectionController:
    arguments:
      $commandBus: '@command.bus'

  App\Controller\Books\RatingController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\Books\RecommendationFeedbackController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\AlertController:
    arguments:
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\User\NotificationController:
    arguments:
      $security: '@App\Service\SecurityService'
      $notificationLogs: '@App\Repository\NotificationLogRepository'
      $entityManager: '@doctrine.orm.entity_manager'

  App\Controller\Admin\RoleAdminController:
    arguments:
      $commandBus: '@command.bus'

  App\Controller\Admin\IntegrationAdminController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'

  App\Controller\Admin\SystemConfigController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'

  App\ApiDoc\DefaultOperationDescriber:
    tags:
      - { name: nelmio_api_doc.describer, priority: -2000 }

  App\ApiDoc\RouteOperationDescriber:
    tags:
      - { name: nelmio_api_doc.describer, priority: -1500 }
