parameters:
  locale: 'pl'
  app.notifications.from: 'no-reply@biblioteka.local'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DataFixtures/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\DataFixtures\:
    resource: '../src/DataFixtures/'
    tags: ['doctrine.fixture.orm']

  App\Service\Notification\NotificationSender:
    arguments:
      $fromAddress: '%app.notifications.from%'

  App\MessageHandler\ReservationQueuedNotificationHandler:
    arguments:
      $projectDir: '%kernel.project_dir%'
    tags: ['messenger.message_handler']

  App\EventSubscriber\ApiAuthSubscriber:
    arguments:
      $users: '@App\Repository\UserRepository'
    tags: ['kernel.event_subscriber']
  
  # Named Rate Limiters
  App\Controller\AuthController:
    arguments:
      $loginAttemptsLimiter: '@limiter.login_attempts'
  
  App\Controller\RegistrationController:
    arguments:
      $registrationAttemptsLimiter: '@limiter.registration_attempts'
  
  # CQRS Buses
  App\Controller\LoanController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'
  
  App\Controller\ReservationController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\FineController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\BookController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\UserManagementController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\AdminUserController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\AccountController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\FavoriteController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\ReviewController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\DashboardController:
    arguments:
      $security: '@App\Service\SecurityService'
      $queryBus: '@query.bus'

  App\Controller\ReportController:
    arguments:
      $queryBus: '@query.bus'

  App\Controller\AuditLogController:
    arguments:
      $queryBus: '@query.bus'

  App\Controller\CatalogAdminController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\BookInventoryController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\BookAssetController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\WeedingController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AnnouncementController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'
      $userRepository: '@App\Repository\UserRepository'

  App\Controller\AcquisitionBudgetController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AcquisitionOrderController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\AcquisitionSupplierController:
    arguments:
      $queryBus: '@query.bus'
      $commandBus: '@command.bus'

  App\Controller\CollectionController:
    arguments:
      $commandBus: '@command.bus'

  App\Controller\RatingController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\RecommendationFeedbackController:
    arguments:
      $commandBus: '@command.bus'
      $security: '@App\Service\SecurityService'

  App\Controller\Admin\RoleAdminController:
    arguments:
      $commandBus: '@command.bus'

  App\Controller\Admin\IntegrationAdminController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'

  App\Controller\Admin\SystemConfigController:
    arguments:
      $commandBus: '@command.bus'
      $queryBus: '@query.bus'
