APP_ENV=dev
API_SECRET=change_me_api
JWT_SECRET=change_me
OPENAI_API_KEY=

DB_USER=biblioteka
DB_PASSWORD=change_me
DB_NAME=biblioteka
DB_HOST=db

MAIN_DB_USER=biblioteka
MAIN_DB_PASSWORD=change_me
NOTIFICATION_DB_USER=notifications
NOTIFICATION_DB_PASSWORD=change_me_notification_db
RECOMMENDATION_DB_USER=recommendations
RECOMMENDATION_DB_PASSWORD=change_me_recommendation_db

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
GRAFANA_ADMIN_PASSWORD=change_me
