framework:
  secret: '%env(APP_SECRET)%'
  http_method_override: false
  handle_all_throwables: true
  php_errors:
    log: true

  cache:
    app: cache.adapter.redis
    default_redis_provider: '%env(REDIS_URL)%'
    pools:
      doctrine.result_cache_pool:
        adapter: cache.adapter.redis
      doctrine.system_cache_pool:
        adapter: cache.adapter.redis

  session:
    handler_id: null
    cookie_secure: auto
    cookie_samesite: lax

  rate_limiter:
    login_attempts:
      policy: 'sliding_window'
      limit: 5
      interval: '15 minutes'
    
    registration_attempts:
      policy: 'sliding_window'
      limit: 3
      interval: '1 hour'
    
    api_global:
      policy: 'token_bucket'
      limit: 200
      rate: { interval: '1 minute', amount: 200 }
