framework:
  messenger:
    default_bus: messenger.bus.default
    
    buses:
      messenger.bus.default:
        default_middleware: true
      command.bus:
        default_middleware: true
      query.bus:
        default_middleware: true
    
    transports:
      async:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        serializer: messenger.transport.symfony_serializer
        retry_strategy:
          max_retries: 3
          delay: 1000
          multiplier: 2
      sync: 'sync://'
    
    routing:
      # Commands - synchronous
      App\Application\Command\Loan\CreateLoanCommand: sync
      App\Application\Command\Loan\ReturnLoanCommand: sync
      App\Application\Command\Loan\ExtendLoanCommand: sync
      App\Application\Command\Loan\DeleteLoanCommand: sync
      App\Application\Command\Reservation\CreateReservationCommand: sync
      App\Application\Command\Reservation\CancelReservationCommand: sync
      App\Application\Command\Favorite\AddFavoriteCommand: sync
      App\Application\Command\Favorite\RemoveFavoriteCommand: sync
      App\Application\Command\Review\CreateReviewCommand: sync
      App\Application\Command\Review\DeleteReviewCommand: sync
      App\Application\Command\Fine\CreateFineCommand: sync
      App\Application\Command\Fine\PayFineCommand: sync
      App\Application\Command\Fine\CancelFineCommand: sync
      App\Application\Command\User\CreateUserCommand: sync
      App\Application\Command\User\UpdateUserCommand: sync
      App\Application\Command\User\DeleteUserCommand: sync
      App\Application\Command\User\BlockUserCommand: sync
      App\Application\Command\User\UnblockUserCommand: sync
      App\Application\Command\Account\UpdateAccountCommand: sync
      App\Application\Command\Account\ChangePasswordCommand: sync
      App\Application\Command\Book\CreateBookCommand: sync
      App\Application\Command\Book\UpdateBookCommand: sync
      App\Application\Command\Book\DeleteBookCommand: sync
      App\Application\Command\Author\CreateAuthorCommand: sync
      App\Application\Command\Author\UpdateAuthorCommand: sync
      App\Application\Command\Author\DeleteAuthorCommand: sync
      App\Application\Command\Category\CreateCategoryCommand: sync
      App\Application\Command\Category\UpdateCategoryCommand: sync
      App\Application\Command\Category\DeleteCategoryCommand: sync
      App\Application\Command\IntegrationConfig\UpdateIntegrationConfigCommand: sync
      
      # Queries - synchronous
      App\Application\Query\Loan\GetLoanQuery: sync
      App\Application\Query\Loan\ListLoansQuery: sync
      App\Application\Query\Loan\ListUserLoansQuery: sync
      App\Application\Query\Reservation\ListReservationsQuery: sync
      App\Application\Query\Book\ListBooksQuery: sync
      App\Application\Query\Book\GetBookQuery: sync
      App\Application\Query\Favorite\ListUserFavoritesQuery: sync
      App\Application\Query\Review\ListBookReviewsQuery: sync
      App\Application\Query\Fine\ListFinesQuery: sync
      App\Application\Query\Author\GetAuthorQuery: sync
      App\Application\Query\Author\ListAuthorsQuery: sync
      App\Application\Query\Category\GetCategoryQuery: sync
      App\Application\Query\Category\ListCategoriesQuery: sync
      App\Application\Command\SystemSetting\CreateSystemSettingCommand: sync
      App\Application\Command\SystemSetting\UpdateSystemSettingCommand: sync
      App\Application\Command\SystemSetting\DeleteSystemSettingCommand: sync
      App\Application\Query\SystemSetting\GetSystemSettingQuery: sync
      App\Application\Query\SystemSetting\ListSystemSettingsQuery: sync
      App\Application\Command\IntegrationConfig\CreateIntegrationConfigCommand: sync
      App\Application\Command\IntegrationConfig\UpdateIntegrationConfigCommand: sync
      App\Application\Command\IntegrationConfig\DeleteIntegrationConfigCommand: sync
      App\Application\Query\IntegrationConfig\GetIntegrationConfigQuery: sync
      App\Application\Query\IntegrationConfig\ListIntegrationConfigsQuery: sync
      App\Application\Command\StaffRole\CreateStaffRoleCommand: sync
      App\Application\Command\StaffRole\UpdateStaffRoleCommand: sync
      App\Application\Command\StaffRole\DeleteStaffRoleCommand: sync
      App\Application\Query\StaffRole\GetStaffRoleQuery: sync
      App\Application\Query\StaffRole\ListStaffRolesQuery: sync
      
      # Messages - asynchronous
      App\Message\ReservationQueuedNotification: async
      App\Message\LoanDueReminderMessage: async
      App\Message\LoanOverdueMessage: async
      App\Message\ReservationReadyMessage: async
