services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: biblioteka
      POSTGRES_PASSWORD: biblioteka
      POSTGRES_DB: biblioteka_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.13-management
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  db_data:
